## Impotamos las librerias necesarias

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [21]:
from scipy.stats.mstats import winsorize
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Cargamos el conjunto de datos a analizar

In [22]:
life_expectancy = pd.read_csv('Life Expectancy Data.csv')

In [23]:
# Mostramos todas las columnas
life_expectancy.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [24]:
# Mostramos las primeras 5 filas del data
life_expectancy.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [25]:
# Realizamos una descripcion para ver el comportamiento del data set
life_expectancy.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [26]:
# Realizamos un analisis de valores nulos por anio
nan_analysis = pd.DataFrame()

In [27]:
for Year_ in life_expectancy.loc[ : , "Year" ].drop_duplicates():
    countrydf = life_expectancy.loc[ life_expectancy['Year'] == Year_ , : ]    
    for column_ in countrydf.columns:        
        percentage =  np.sum(pd.isna( countrydf.loc[ : , column_ ]  )) / countrydf.shape[0]
        dfrow = pd.DataFrame({
            'Year': [ Year_ ]
            , 'column' : [ column_ ]
            , 'percentage.of.nans' : [ percentage ]
        })
        nan_analysis = pd.concat([nan_analysis, dfrow])

In [28]:
nan_analysis

    Year                           column  percentage.of.nans
0   2015                          Country            0.000000
0   2015                             Year            0.000000
0   2015                           Status            0.000000
0   2015                 Life expectancy             0.000000
0   2015                  Adult Mortality            0.000000
..   ...                              ...                 ...
0   2000                       Population            0.218579
0   2000             thinness  1-19 years            0.010929
0   2000               thinness 5-9 years            0.010929
0   2000  Income composition of resources            0.054645
0   2000                        Schooling            0.054645

[352 rows x 3 columns]

# Limpieza de valores nulos

In [29]:
df_limpio = life_expectancy

In [30]:
# hacemos un recorrido para ver las columnas con valores nulos
for c_ in df_limpio.columns:
    print(c_)
    print(np.sum(df_limpio[c_].isna()))
    print(" ")

Country
0

Year
0

Status
0

Life expectancy
10

Adult Mortality
10

infant deaths
0

Alcohol
194

percentage expenditure
0

Hepatitis B
553

Measles
0

 BMI
34

under-five deaths
0

Polio
19

Total expenditure
226

Diphtheria
19

 HIV/AIDS
0

GDP
448

Population
652

 thinness  1-19 years
34

 thinness 5-9 years
34

Income composition of resources
167

Schooling
163

In [31]:
# Columnas a limpiar
columnas_a_limpiar= ['Life expectancy ','Adult Mortality','Alcohol','Hepatitis B',' BMI ', 'Polio','Total expenditure','Diphtheria ','GDP','Population',' thinness  1-19 years',' thinness 5-9 years','Income composition of resources','Schooling']

In [32]:
# Mediante un ciclo for realizamos la limpieza de estas columnas con la media
for d_ in df_limpio[columnas_a_limpiar]:
    mediana= df_limpio[d_].median()
    df_limpio[d_]=df_limpio[d_].fillna(mediana)

## Comprobamos si se ha realizado la limpieza de manera correcta

In [33]:
for c_ in df_limpio.columns:
    print(c_)
    print(np.sum(df_limpio[c_].isna()))
    print(" ")

Country
0

Year
0

Status
0

Life expectancy
0

Adult Mortality
0

infant deaths
0

Alcohol
0

percentage expenditure
0

Hepatitis B
0

Measles
0

 BMI
0

under-five deaths
0

Polio
0

Total expenditure
0

Diphtheria
0

 HIV/AIDS
0

GDP
0

Population
0

 thinness  1-19 years
0

 thinness 5-9 years
0

Income composition of resources
0

Schooling
0

## El nuevo dataset sin valores nulos es: df_limpio

In [35]:
df_limpio.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

## Realizamos el analisis de Bloxplots

#### Bloxplots: El objetivo de utilizar cajas de bigotes es para visualizar la dispersión de los datos y para comparar la distribución de los mismo. También se puede utilizar para detectar valores atípicos o "outliers" en los datos.

##### Primero se realiza el cálculo de los valores valores atípicos para conocer cuántos son y el porcentaje que representan utilizando el método Tukey. Luego se utiliza la técnica de Winsorize para remover los valores valores atípicos y se muestran los boxplots con y sin los valores atípicos de cada columna.

In [ ]:
# Creamos un diccionaron con las columnas que utiilizaremos para realizar los boxplots.
bp_cols= {'Life expectancy ':1, 'Adult Mortality':2,
       'infant deaths':3, 'Alcohol':4, 'percentage expenditure':5, 'Hepatitis B':6,
       'Measles ':7, ' BMI ':8, 'under-five deaths ':9, 'Polio':10, 'Total expenditure':11,
       'Diphtheria ':12, ' HIV/AIDS':13, 'GDP':14, 'Population':15,
       ' thinness  1-19 years':16, ' thinness 5-9 years':17,
       'Income composition of resources':18, 'Schooling':19}

# Calculando la cantidad de valores atípicos y su porcentaje usando el método Tukey.
for columna_o in bp_cols.keys():
    q75, q25 = np.percentile(df_limpio[columna_o], [75 ,25])
    iqr = q75 - q25

    min_val = q25 - (iqr*1.5)
    max_val = q75 + (iqr*1.5)
    ##imprimimos los resultados
    print("La cantidad de valores atípicos para --{}-- es {} y su porcentaje es {}".format(columna_o,
                                                                             len((np.where((df_limpio[columna_o] > max_val) | 
                                                                                           (df_limpio[columna_o] < min_val))[0])),len((np.where((vdf1[columna_o] > max_val) | 
                                                                                           (df_limpio[columna_o] < min_val))[0]))*100/1987))